// _variables.scss

$backgroundColor: black;
$defaultTextColor: white;
$sidebarColor: #ddd;
$inputBgColor: grey;
$selectedNoteColor: #615353;
$buttonBgColor: rgb(255, 0, 0);
$buttonTextColor: #fff;
$deleteButtonBgColor: rgb(139, 139, 138);
$deleteButtonHoverBgColor: rgb(214, 209, 209);
$noteTitleColor: red;
$hoverColor: #3f3737;
