@import "./note";
@import "./mixins";
@import "./variables";
@import "./hamburger";

body {
  height: 100vh;
  background-color: $backgroundColor;
  color: $defaultTextColor;
}

.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;

  .sidebar {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 1em;
    box-sizing: border-box;
    border-right: 1px solid $sidebarColor;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    position: fixed;
    z-index: 1;
    
    @media (min-width: 769px) {
      width: 30%;
      transform: translateX(0);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    overflow-y: auto;
    padding: 1em;
    box-sizing: border-box;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;

    @media (min-width: 769px) {
      width: 70%;
      margin-left: 30%;
    }
  }

  &.menu-open {
    .sidebar {
      transform: translateX(0);
    }

    .content {
      @media (max-width: 768px) {
        margin-left: 100%;
        visibility: hidden;
      }
    }
  }

  &.menu-closed {
    .sidebar {
      @media (max-width: 768px) {
        transform: translateX(-100%);
      }
    }

    .content {
      margin-left: 0;
      visibility: visible;
    }
  }
}



.sidebar {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid $sidebarColor;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;

  .sidebar:not(.open) & {
    // when the sidebar is not open
    width: 100%; // content takes the full width
  }

  @media (min-width: 769px) {
    transform: translateX(0);
  }
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 100%;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
}

.note-list > div {
  cursor: pointer;
  padding: 0.5em;
  border-bottom: 1px solid $sidebarColor;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hoverColor;
  }

  h2 {
    color: $noteTitleColor;
  }
}

.note-item.selected {
  background-color: $selectedNoteColor;
}

.note-list button {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($buttonBgColor, 10%);
  }
}
.export-button {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  background-color: gray;
  color: $buttonTextColor;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken(gray, 10%);
  }
}

.note-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.5em;
  color: #333;
  text-align: center;
  background: #f6f8fa9a;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: fadeIn 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.note-message img {
  width: 150px;
}
