@import "./note";
@import "./mixins";
@import "./variables";

body {
  height: 100vh;
  background-color: $backgroundColor;
  color: $defaultTextColor;
}

.app {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
  border-right: 1px solid $sidebarColor;
}

.content {
  display: flex;
  flex-direction: column;
  width: 70%;
  min-height: 100%;
  overflow-y: auto;
  padding: 1em;
  box-sizing: border-box;
}

.note-list > div {
  cursor: pointer;
  padding: 0.5em;
  border-bottom: 1px solid $sidebarColor;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $hoverColor;
  }

  h2 {
    color: $noteTitleColor;
  }
}

.note-item.selected {
  background-color: $selectedNoteColor;
}

.note-list button,
.save {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  background-color: $buttonBgColor;
  color: $buttonTextColor;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($buttonBgColor, 10%);
  }
}

.delete {
  display: block;
  width: 100%;
  padding: 0.5em;
  margin-top: 1em;
  background-color: $deleteButtonBgColor;
  color: black;
  border: none;
  cursor: pointer;
  @include transition(background-color);

  &:hover {
    background-color: $deleteButtonHoverBgColor;
  }
}
